<ion-header translucent>
      <ion-toolbar color="secondary">
      	 <ion-buttons slot="start" color="">
          <ion-button (click)="navigateToPage('/acct-info')">Go Back</ion-button>
        </ion-buttons>
        <ion-title>Questions: {{account.name}}</ion-title>    
      </ion-toolbar>
    </ion-header>
<ion-content>

<!--work with this-->
<div *ngFor= "let question of questions">
  <ion-item radio-group *ngFor = "let info of question.doc.questions">
          {{info.question}}
        <ion-radio item-right value="good"></ion-radio><p>&nbsp;{{info.good}}</p>
        <ion-radio item-right value="bad"></ion-radio><p>&nbsp;{{info.bad}}</p>
</ion-item>
 </div>

<ion-button expand="block"> Generate New Report </ion-button>

</ion-content>
