<ion-header translucent>
  <ion-toolbar color="secondary">
  	<ion-buttons slot="start" color="">
      <ion-button (click)="navigateToPage('/acct-info')">Go Back</ion-button>
    </ion-buttons>
    <ion-title>Competitive Install Page</ion-title>  
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let category of this.productList">
    <ion-item>
    	<ion-card-header>
      	<ion-card-title>{{category}}</ion-card-title>
    	</ion-card-header>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let item of this.competitiveProductMap.get(category)">
          <ion-item>
                <ion-checkbox (ionChange)="checkItem($event, item)" [checked]="hasItem(item)" disabled="false"></ion-checkbox><p> &nbsp;{{item.competitive}}</p>
              </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-button expand="block" (click)="complete('/acct-info')">Continue</ion-button>
  <ion-item> </ion-item>
</ion-content>
